.sectionHero {
  position: relative;
  background: url(../../assets/barbearia.jpg) center center no-repeat;
  background-size: cover;

  min-height: 100dvh;

  display: flex;
  flex-direction: column;
}

.overlay {
  position: absolute;

  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.48));

  z-index: 1;
}

.info {
  position: relative;

  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 2;
}

.tagline {
  color: white;
  font-size: clamp(1.25rem, 0.3149rem + 4.5802vw, 3rem);

  padding-bottom: 3.75rem;
}

.btn {
  font-size: 1rem;
  font-weight: 600;

  cursor: pointer;

  background: #94710f;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  padding: 0.75rem 1.5rem;

  border-radius: 1.75rem;
  border: none;

  transition: all 0.3s ease;

  z-index: 2;
}

.btn:hover {
  transform: translateY(-2px) scale(1.02);
  background: #ac8211;
}

.btn:active {
  transform: scale(0.98);
  background: #684f0d;

  transition: all 0.1s ease;
}

.btn img {
  padding: 0.5rem;
  background-color: black;
  border-radius: 100%;
}
