.sectionAbout {
  background: linear-gradient(to top, #1a1a1a, #111);
  padding: 3rem 1rem;
}

.sec_about {
  max-width: 1200px;
  margin-inline: auto;
}

.sec_about span {
  font-weight: 600;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.cardImg {
  order: 2;
}

.card .cardImg img {
  width: min(90%, 800px);
  height: 100%;
  object-fit: cover;
  display: block;

  margin-inline: auto;
  margin-bottom: 1rem;

  border: 2px solid #94710f;
  border-radius: 0.75rem;
}

.cardInfo {
  display: contents;

  margin-left: 0;
}

.cardInfo .nameSect {
  font-size: var(--font-size-title);

  order: 1;

  color: #94710f;
}

.cardInfo .aboutSect {
  font-size: 1rem;
  font-weight: 300;

  order: 3;
  color: #fff;

  line-height: 1.6;

  text-align: justify;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  margin-top: 2rem;
  gap: 1rem;
}

.cardGrid .qualities {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.28), rgba(0, 0, 0, 0.45));
  padding: 1.5rem;

  border-radius: 0.75rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  box-shadow: 4px 4px 8px #1a1a1a;

  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.cardGrid .qualities:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 4px 4px 8px 5px #1a1a1a;
}

.cardGrid .qualities .qualitiesTitle {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #94710f;
  font-size: clamp(1.125rem, 0.708rem + 2.08vw, 2.375);

  margin-bottom: 12px;
}

.cardGrid .qualities p {
  max-width: 310px;
  font-size: 1rem;
  color: #fff;

  text-align: justify;
}

@media (min-width: 768px) {
  .card {
    flex-direction: row;
  }

  .cardInfo {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    flex: 1;
  }

  .nameSect,
  .cardImg,
  .aboutSect {
    order: initial;
  }

  .cardImg {
    flex: 1;
  }

  .sectionAbout {
    padding: 5rem 4.25rem;
  }
}
