.section_contact {
  background: linear-gradient(to bottom, #1a1a1a, #111111);
  padding: 3.75rem 1.5rem;
}

.sec_contact {
  max-width: 1200px;
  margin-inline: auto;
}

.sec_contact .title {
  font-size: clamp(1.25rem, 0.3282rem + 3.5623vw, 3rem);
  color: #94710f;
  text-align: center;
  margin-bottom: 3rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.time_box {
  flex: 2;
}

.sec_contact .box_info {
  width: min(800px, 100%);
  margin-inline: auto;
  border: #94710f 2px solid;
  background: rgba(0, 0, 0, 0.36);
  padding: 1.75rem;
  text-align: center;
  border-radius: 1rem;
}

.sec_contact .box_info h3 {
  font-size: clamp(1.25rem, 0.75rem + 2vw, 2.25rem);
  color: #94710f;
  margin-bottom: 2rem;
}

.sec_contact .box_info .locate {
  font-size: clamp(1.25rem, 0.75rem + 2vw, 2.25rem);
  color: #94710f;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.sec_contact .box_info .locate img {
  width: clamp(1.5rem, 0.75rem + 3vw, 3rem);
}

.sec_contact .box_info h4 {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 1.5rem;
}

.sec_contact .box_info .hora {
  font-size: clamp(1.5rem, 1rem + 2vw, 2.5rem);
  font-weight: 500;
  color: #94710f;
  margin-bottom: 1.5rem;
}

.line {
  width: 80%;
  height: 1px;
  background: #94710f;
  margin-inline: auto;
  margin-block: 1.5rem;
}

.redes {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  flex: 1;
}

.redes p {
  font-size: 1rem;
  color: #94710f;
  text-align: center;
}

.redes button {
  font-size: clamp(1rem, 0.375rem + 2.5vw, 2.25rem);
  font-weight: 700;
  display: block;
  margin-inline: auto;
  width: clamp(12.5rem, 5.5rem + 28vw, 30rem);
  height: clamp(2.875rem, 2.125rem + 3vw, 4.375rem);
  border-radius: 3rem;
  border: 1px solid #94710f;
  background: rgba(0, 0, 0, 0.36);
  color: #94710f;
  cursor: pointer;

  box-shadow: 0 0 4px #94710f;

  transition: all .3s ease;
}

.redes button:hover {
  transform: translateY(-2px) scale(1.02);
}

.redes button img {
  width: clamp(1.25rem, 5vw, 2.75rem);
}

.redes .contrast {
  background: rgba(52, 196, 44, 0.35);
  border: 1px solid rgba(13, 255, 0, 0.35);
  color: #fff;
  box-shadow: 0 0 4px rgba(13, 255, 0, 0.35);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  width: clamp(15rem, 8.5rem + 26vw, 31.25rem);
  height: clamp(2.75rem, 1.31rem + 5.75vw, 5.625rem);
}

@media (min-width: 786px) {
  .section_contact {
    padding: 6.25rem 4.75rem;
  }

  .container {
    flex-direction: row;
  }

  .sec_contact .box_info {
    margin-bottom: 0;
  }
}
